* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #111;
}

.elem {
  height: 150px;
  width: 100%;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.elem h1 {
  mix-blend-mode: difference;
  font-size: 6vw;
  position: relative;
  z-index: 99;
}

.elem img {
  object-fit: cover;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-position: center;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  opacity: 0;
  transition: linear all 0.1s;
}
